@charset "utf-8";
@import url("reset (1).css") ;

body,html{
  width: 100%;
  height: 100%;
}

main{
    height: 100%;
    position: relative;
}

.site_main{
    display: block;
    text-align: center;
    width: 50%;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.site_main img{
    max-width: 50%;
}

main canvas{
    background: url(../images/도마뱀비닐.png) no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    display: none;
}

section{
  height: 100%;
  position: relative;
}

.multi_rolling {
    display: block;
    padding: 50px 30px;
    position: relative
  }
  
  .multi_rolling h2 {
    color: aqua;
    z-index: 999999999999;
    text-align: center;
    margin-bottom: 50px;
    font-size: 40px;
  }
  
  .multi_rolling img {
    width: 100%;
    /* 슬라이드박스의 좌우측 간격 ↓ */
    padding: 0 0px
  }
  
  .multi_rolling .marrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 50px;
    color: #999;
  }
  
  .multi_rolling .prevArrow {
    left: -30px;
    z-index: 99999999
  }
  
  .multi_rolling .nextArrow {
    right: -30px
  }
  
  .multi_rolling .slick-dots {
    position: absolute;
    bottom: -30px;
    width: 100%;
    text-align: center
  }
  
  .multi_rolling .slick-dots li {
    display: inline-block
  }
  
  .multi_rolling .slick-dots li button {
    width: 15px;
    height: 15px;
    background: #999;
    border: none;
    text-indent: -9999px;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 5px;
  }
  
  .multi_rolling .slick-dots li.slick-active button {
    background: #000
  }
  
  .multi_rolling .slick-slide {
    /* 슬릭슬라이더 안에 있는 모든 슬라이드 */
    opacity: 0.6;
    transform: scale(0.5);
    /* 커지는느낌이 부드럽게 ↓ */
    transition: all 0.5s;
  }
  
  .multi_rolling .slick-slide.slick-active {
    /* 무대 공간에 보여지는  슬라이드, slidesToShow */
    opacity: 1;
  }
  
  .multi_rolling .slick-slide.slick-active.slick-current {
    /* 무대 중앙에 있는 슬라이드 하나 */
    /* opacity:1; */
    transform: scale(0.85)
  }

/* 숨겨짐 */
button{
    display: none;
    position: fixed;
    right: 20px;
    top:10px;
    width: 100px;
    height: 100px;
}


